<h3 class="title-page">Todas as Votações</h3>
<ul class="cards">
    {{#each allVotacoes}}
    <li class="cards__item">
        <div class="card">
            <div class="card__content">
                <div class="card__title">{{titulo}}</div>
                <p class="card__text">{{descricao}} </p>
                <div class="opcoes-votacao">
                    <p>Sim</p>
                    <div class="opcao-bar" style="width: calc(100% - {{nao}}%)">{{sim}}</div>
                    <p>Não</p>
                    <div class="opcao-bar" style="width: calc(100% - {{sim}}%)">{{nao}}</div>
                </div>
                <div class="dados">
                    <p>{{data}}</p>
                    <p>{{duracao}}</p>
                    <p>{{status}}</p>
                </div>
                <form action="/editar/{{id}}" method="get"><button type="submit" class="btn btn--block card__btn">Editar</button></form>
                {{#if status}}
                <form action="/desativar/{{id}}" method="post"><button type="submit" class="btn btn--block card__btn">Desativar</button></form>
                {{else}}
                <form action="/ativar/{{id}}" method="post"><button type="submit" class="btn btn--block card__btn">Ativar</button></form>
                {{/if}}
            </div>
        </div>
    </li>
    {{/each}}
</ul>